

<h1>About Me</h1>
<p>My Name is Kota Sri Harsha and I am Building a Pinterested clone Website and the name is HINTERESTED. Nice name eh! Stop reading about me! Go and create a Pin! 
BOOM!!</p>


<h1 class="about"> Hasta la Vista.</h1>
